{{#if hasLabel}}
  <label class="{{horiClass}}">{{label}}</label>
{{/if}}
<div class="{{bsInputClass}} {{if (eq type 'checkbox') 'checkbox'}}">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{#if readonly}}
      {{get model property}}
    {{else}}
      {{#if isInput}}
        <div class="input-group">
          {{#if addonIcon}}
            {{input type=type value=(mut (get model property)) class="form-control"}}
            <div class="input-group-addon"><i class={{addonIcon}} aria-hidden="true"></i></div>
          {{else}}
            {{input type=type value=(mut (get model property)) class="form-control"}}
        {{/if}}
        </div>
      {{/if}}
      {{#if (eq type 'textarea')}}
        {{textarea class="form-control" rows=7 value=(mut (get model property))}}
      {{/if}}
      {{#if (eq type 'checkbox')}}
        {{input type='checkbox' checked=(mut (get model property)) label_after=true}}
          <!-- awesome checkbox style <label> so it is required even if empty /-->
          <label>{{#if (not-eq formLayout 'inline')}}{{label}}{{/if}}</label>
      {{/if}}
    {{/if}}
  {{/if}}
  {{#if hasError}}
    {{#each (get model (concat 'errors.' property)) as |error|}}
      <p class="text-danger">{{error.message}}</p>
    {{/each}}
  {{/if}}
</div>
