<form>
  {{#each fieldsets as |fieldset|}}
    {{form-fieldset
      field=fieldset
      model=model
      fetch_meta=fetch_meta
      main=this
      addRelated=(action 'add_related')
      editRelated=(action 'edit_related')
    }}
  {{/each}}
  {{#unless noButtons}}
    <button class="btn btn-primary pull-right" {{action 'save_all'}}>Save</button>
    <button class="btn btn-danger pull-left" {{action 'delete_all'}}>Delete</button>
  {{/unless}}
</form>
{{#if modalOpen}}
  {{#liquid-tether             
    to="modal-dialog"          
    target=tetherTarget  
    targetModifier="visible"   
    attachment=tetherAttachment
    targetAttachment=tetherTargetAttachment
    tetherClass=tetherClass
    overlayClass="modal-backdrop"
    on-overlay-click=(toggle 'modalOpen' this)
  }}  
    <div class="modal-content">
      <div class="modal-header">
        <h4>{{modalTitle}}</h4>
      </div>
      <div class="modal-body">
        {{change-form
          model=modalRecord
          fieldsets=modalMeta.fieldsets
          noButtons=true
          fetch_meta=fetch_meta
          tetherClass=tetherClass
          tetherTarget=tetherTarget
          tetherAttachment=tetherAttachmen
          tetherTargetAttachment=tetherTargetAttachment
        }}
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary pull-right" {{action 'save_related'}}>Save</button>
        <button class="btn btn-danger pull-left" {{action 'cancel_related'}}>Cancel</button>
      </div>
    </div>
  {{/liquid-tether}}
{{/if}}
