{{#base-widget
  model=model
  label=label
  property=property
  readonly=readonly
  horiClass=horiClass
  inputClass=inputClass
  content=content
  extra=extra
  targetModelName=targetModelName
  formLayout=formLayout
}}
  <select onchange={{action (mut (get model property)) value="target.value"}} class="form-control">
    {{#each extra.choices as |choice|}}
      <option selected={{eq (get model property) choice.value}} value={{choice.value}}>
        {{choice.label}}
      </option>
    {{/each}}
  </select>
{{/base-widget}}
