{{#base-widget
  model=model
  label=label
  property=property
  readonly=readonly
  horiClass=horiClass
  inputClass=inputClass
  content=content
  extra=extra
  targetModelName=targetModelName
  formLayout=formLayout
}}
  <div class="input-group">
    <select onChange={{action (mut selectedIndex) value="target.value"}} class="form-control">
      <option value="-1" selected="{{eq selectedIndex -1}}">
        {{#if placeholder}}{{placeholder}}{{else}}---{{/if}}
      </option>
      {{#each content key="@index" as |item index|}}
        <option value={{index}} selected={{eq selectedIndex index}}>
          {{item.__str__}}
        </option>
      {{/each}}
    </select>
    {{#if extra.expand}}
      <span class="input-group-addon" onclick={{action (toggle 'isExpanded' this)}}><i class="fa fa-eye"></i></span>
    {{/if}}
    {{#if (and value extra.popup)}}
      <span class="input-group-addon" onclick={{action editRelated extra.related_model this}}><i class="fa fa-pencil"></i></span>
    {{/if}}
    {{#if extra.allowAdd}}
      <span class="input-group-addon" onclick={{action addRelated extra.related_model this}}><i class="fa fa-plus"></i></span>
    {{/if}}
  </div>
{{/base-widget}}
{{#if isExpanded}}
  <div class="col-xs-12">
    {{form-fieldset
      model=(get model property)
      field=field
      label=null
      readonly=true
    }}
  </div>
{{/if}}
