<div class="table-responsive {{inputClass}}">
  <table class="table table-condensed table-striped">
    <thead>
      {{#if field.label}}
        <tr class="inverse"><th colspan="{{column_count}}">
          {{field.label}}
          <div class="pull-right">
            <i class="fa fa-plus text-success" {{action 'addRelated' on='click'}}></i>
          </div>
        </th></tr>
      {{/if}}
      <tr>
        <th>&nbsp;</th>
        {{#each field.fields as |subfield|}}
          <th>{{#if subfield.label}}
            {{subfield.label}}
          {{else}}
            {{subfield.field}}
          {{/if}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each related as |record|}}
        <tr>
          <td><i class="fa fa-trash text-danger" {{action 'deleteRelated' record on='click'}}></i></td>
          {{#each field.fields as |subfield|}}
            <td>
              {{form-field
                field=subfield
                model=record
                horiClass=subfield.horiClass
                inputClass=subfield.horiClass
                class=innerClass
                formLayout='inline'
                addRelated=addRelated
              }}
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

