{{#if isCollection}}
  {{component
    widgetComponent
    field=field
    model=record
    class=field.class
    main=main
    addRelated=addRelated
    editRelated=editRelated
  }}
{{else}}
	{{component
		widgetComponent
		model=model
		label=label
		property=property
		readonly=readonly
		horiClass=field_horiClass
		inputClass=field_inputClass
		content=field.targetModel
		extra=field.extra
		targetModelName=field.model
    formLayout=formLayout
    field=field
    main=main
    addRelated=addRelated
    editRelated=editRelated
	}}
{{/if}}
