{{#if label}}
  <legend class="FieldsetTitle">{{label}}</legend>
{{/if}}
{{#if is_ready}}
  {{#each fields as |field|}}
    {{form-field
      field=field
      model=model
      horiClass=field.horiClass
      inputClass=field.inputClass
      class=innerClass
      main=main
      addRelated=addRelated
      editRelated=editRelated
    }}
  {{/each}}
{{/if}}
